*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: large;
}
/* CABEÇALHO */
header {
    width: 100%;
    height: 2cm;
    background-color: #22262c;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

a{
    text-decoration: none;
}
/* CABEÇALHO */
header .cabeçalho {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3cm;
    background-color: #22262c;
    background-size: cover;
    
}
/* CABEÇALHO */
header .cabeçalho li{
    display: inline-block;
}
/* CABEÇALHO */
header .cabeçalho a{
    color: rgb(255, 255, 255);
    padding: 8px 12px;
    border-radius: 3px;
    transition: 200ms;
}
/* CABEÇALHO */
header .cabeçalho ul a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(119, 83, 124);
}
/* CABEÇALHO */
.logo img{
    margin-left: 1%;
    width: 65px;
    height: 65px;
}

.youtubelogo{
    width: 50%;
    height: 50%;   
}

.youtubelogo:hover{
    filter: invert(75%);
    }


.vertical li{
    text-shadow: red -2px 0, cyan 2px 0;
    font-family: monospace;
    color: #d0d0d0;
    font-size: 180%;
}   


.vertical .ulvertical{
    text-align: center;
}
/* CABEÇALHO */
.logo:hover{
    filter:invert(75%)
}

/* CABEÇALHO VERTICAL */
.vertical{
    margin-top: 5%;
    position: fixed;
    width: 7%;
    height: 500%;
    float: left;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    background-color: #22262c;
    background-size: cover;
    
}
.vertical li{
    display: inline-block;
    margin-top: 20%;
}

a{
    text-decoration: none;
}

.vertical a{
    color: rgb(255, 255, 255);
    margin-top: 20%;
}

.vertical ul a:hover{
    color: rgb(119, 83, 124);

}

body { 
    background-color: #343941;
    height: 100%;
}
.fixarRodape {
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #16181c;
    margin: 0 auto;
}

.logoface img {
    width: 1.5%;
    height: 1.5%;
    float: right;
    margin-top: 0.4%;
    margin-right: 10%;
    filter: invert(30%);
    margin-bottom: 0.4%;
}

.logoface img:hover{
    filter:invert(100%) brightness(100%)
}

.logoinsta img {
    width: 1.5%;
    height: 1.5%;
    float: right;
    margin-top: 0.4%;
    margin-right: 1%;
    filter: invert(30%);
    margin-bottom: 0.4%;
}

.logoinsta img:hover{
    filter:invert(100%) brightness(100%)

}

.logoemail img {
    width: 1.5%;
    height: 1.5%;
    float: right;
    margin-top: 0.4%;
    margin-right: 1%;
    filter: invert(30%);
    margin-bottom: 0.4%;
}

.logoemail img:hover{
    filter:invert(100%) brightness(100%)

}

.parte1 ul{
    margin-top: 2%;

}
.parte1 ul li{
    display:flow-root;
    text-align: center;
    color: #d0d0d0;
    font-family: monospace;
    font-size: x-large;
    margin-top: 1%;
}
.parte1 p{
    text-shadow: red -2px 0, cyan 2px 0;
    text-align: center;
    margin-top: 7%;
    color: #d0d0d0;
    font-family: monospace;
    font-size: xx-large;
}
.parte2 ul{
    margin-top: 2%;
    margin-bottom: 10%;

}
.parte2 ul li{
    margin-top: 1%;
    display:flow-root;
    text-align: center;
    color: #d0d0d0;
    font-family: monospace;
    font-size: x-large;
    
}
.parte2 p{
    text-shadow: red -2px 0, cyan 2px 0;
    text-align: center;
    margin-top: 7%;
    color: #d0d0d0;
    font-family: monospace;
    font-size: xx-large;
    
}

.logoyt img{
    width: 1.5%;
    height: 1.5%;
    margin-left: 0.2%;
}

.logoyt img:hover{
    filter: invert(75%);

}